$dark-blue: #2f4183;
$white: #FFFFFF;
$black: #000000;
$grey: #aeaeae;
$accept: #9CFF607F;
$error: #ff5757;


// Media
$desktop: 1920px;
$laptop: 1440px;
$tablet: 768px;
$mobile-big: 445px;
$mobile-small: 320px;