@import "reset.css";

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Thin.ttf") format("truetype");
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-ThinItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 100;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-ExtraLight.ttf") format("truetype");
  font-style: normal;
  font-weight: 200;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-ExtraLightItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 200;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-LightItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 300;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Italic.ttf") format("truetype");
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-MediumItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 500;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-SemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-SemiBoldItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 600;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-BoldItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 700;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-ExtraBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-ExtraBoldItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 800;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Black.ttf") format("truetype");
  font-style: normal;
  font-weight: 900;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-BlackItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 900;
}


body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.container {
  max-width: 1472px;
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;
}


.button {
  border-radius: 5px;
  padding: 20px;
  border: 1px solid $white;

  font-family: inherit;
  color: $white;
  font-weight: 500;
  font-size: 18px;

  transition: background-color .4s ease-in-out,
  transform .1s ease-in-out;

  &--blue {
    background-color: $dark-blue;
    border: none;
    width: 100%;

    &:hover {
      background-color: #233370;
    }

    &:active {
      transform: scale(.97);
    }

    @include tablet {
      &:hover {
        background-color: $dark-blue;
      }
    }

    @include mobile-big {
      font-size: 16px;
    }
  }

  &--select {
    width: 100%;
    padding: 14px 20px;
    font-size: 14px;
    border: none;
    color: $grey;

    @include mobile-big {
      padding: 7px 10px;
    }

    &-active {
      color: $white;
      background-color: $accept;
      border-radius: 5px;
    }
  }
}


.input {
  background-color: transparent;
  font-weight: 500;
  font-size: 16px;
  color: $white;
  font-family: inherit;

  width: 100%;

  border: 1px solid #fff;
  border-radius: 5px;
  padding: 20px;

  @include mobile-big {
    padding: 15px;
  }

  &--authorization {
    margin-bottom: 40px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &--invalid {
    border: 1px solid $error;
    border-radius: 5px;
  }
}